.open-dribble#card-modal.lity-hide
  .open-dribble__header
    .container
      .row
        .row.row--2
          .col
            .media__img
              img.open-dribble__header__image(src="images/auth-img.png")
            .media__content
              h3.open-dribble__header__name Pay Junction - Paper Receipts  
              p.open-dribble__header__auther by 
                a(href='#') Eddie Lobanivsjky 
                | on 
                span.open-dribble__header__date August 20, 2018
          .col
            .open-dribble__header__buttons
              .card-button Save
              .card-button 
                img(src="images/Heart.png")  
                | Like
  .open-dribble__full-image
    .container
      img(src="images/card2.png")
  .open-dribble__content
    .container
      .row
        .row.row--3
          .col.col--2
            .open-dribble__content__paragraphe
              p Hey guys, here’s a sneak peak of my  work in progress I was happy everyone got to see my last
                |work and commented so much.
                br
                |I’ll be sure to keep you updated  
            .under_line   
            -for (var i = 0; i <3 ; i++) {   
              .open-dribble__content__Responses
                .media__img
                  img.open-dribble__header__image(src="images/auth-img.png")
                .media__content
                  h3.open-dribble__header__name username
                  p.open-dribble__content__Responses__text I like what you did with this place, I like what you
                    |did with this place, I’m not sure what to do about that part. 
                    br
                    |what do you think?
                  .open-dribble__content__Responses__last  
                    .date  August 20, 2018 
                    img.like(src="images/Heart.png")
                .under_line
            -}
          .col
            .open-dribble__side-date
              .card-button.card-button--copy
                img(src="images/link.png")  
                | Copy Link
              .open-dribble__side-date__actions
                p.action
                  img(src="images/Exclude.png")
                  | 6,1234 views
                p.action
                  img(src="images/Heart.png")
                  | 1,232 likes
                p.action
                  img(src="images/comment.png")
                  | 23 saves
                .under_line      

                  



              
