:root {
	--primary-color: #E84F89;
	--secondary-color: #3E8CB9;
	--textblack-color: #333333;
	--textgrey-color: #777777;
	--textlightgrey-color:#AAAAAA;
	--textoffwhite-color:#F4F4F4;
	--textwhite-color:#fff;

}
